<!DOCTYPE html>
<html>
<head>
	<title>Ceasar // SINATRA</title>
</head>
<body>
	<P>CEASAR'S SALAD CYPHER</P>
	<form>
	
		WORD TO ENCRYPT<br>
    	<input type="text"><br>
    	<input type="submit" name="user_word" value="Submit">
	</form>
</body>
</html>